@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.loginContainer{
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.form{
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #2b2b2b;
  justify-content: center;
  padding: 10px;
}
.input{
    border: solid #2986fc 2px;
  border-radius: 5px;
}

.submit{
    width: 100%;
  background-color: #2986fc;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

footer{
  margin-top: 15px;
  background-color: #2986FC;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.redes{
  width: 350px;
  padding: 15px;
}
.copyright{
  width: 220px;
  padding: 15px;
}
.soporteLogo{
position: sticky;
left: 1400px;

} 

@media(min-width: 390px) and (max-width: 870px){
.loginContainer{
  gap: 20px;
  height: 100vh;
}

.loginContainer img{
  display: none;
}

}

@media(min-width: 871px) and (max-width: 960px){
  .loginContainer{
    gap: 20px;
  }
} 
